<ion-header>

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item-group>
      <ion-item-divider color="light">{{ date }}</ion-item-divider>
      <button ion-item *ngFor="let item of hours">
        <ion-icon *ngIf="item.Free" name="ios-checkmark-circle" item-left></ion-icon>
        <ion-icon *ngIf="!item.Free" name="ios-close-circle-outline" item-left></ion-icon>
        {{item.Hour}}:{{(item.Minutes === 0) ? '00' : (item.Minutes)}}
      </button>
  </ion-item-group>
</ion-content>
